# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Build files
build/
dist/
*.egg-info/

# Android
android-app/.gradle/
android-app/build/
android-app/app/build/
android-app/.idea/
android-app/local.properties
android-app/*.iml


# Android / Gradle
.gradle/
.gradle-user/
**/.gradle/
**/.gradle-user/

# Build files
build/
**/build/

# Android Studio
.idea/
*.iml