# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/

# Virtual Environments
.venv/
venv/
env/

# Environment Variables
.env
.env.*

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Streamlit
# =========================
.streamlit/secrets.toml

# =========================
# Build & Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Logs & Temporary Files
# =========================
*.log
*.tmp
*.temp

# =========================
# Android / Gradle
# =========================
.gradle/
.gradle-user/
**/.gradle/
**/.gradle-user/
**/build/
.idea/
*.iml
local.properties

# =========================
# OS
# =========================
.DS_Store
Thumbs.db